 /*Your custom blog styles here*/
.site-logo {
  @apply font-serif;
  @apply font-bold;
}

.hero {
  span {
    /*@apply font-serif;*/
    /*@apply leading-loose;*/
    /*letter-spacing: 0.08em;*/
  }

  &.hero-gradient {
    /*background-image: var(--gradient-2);*/
  }
}

.post {
  @apply overflow-auto;

  p {
    font-size: theme('fontSize.base');
    line-height: theme('lineHeight.6');
    font-weight: theme('fontWeight.light');

     strong {
      font-weight: theme('fontWeight.semibold');
    }

    img {
        @apply mx-auto;
        border-radius: theme('borderRadius.DEFAULT');
    }
  }

  blockquote {
    @apply text-xl;
  }

  ol, ul {
    @apply text-base;
    @apply ml-4;

    strong {
      font-weight: theme('fontWeight.semibold');
    }

    @screen sm {
      @apply ml-8;
    }
  }

  ul {
    @apply list-disc;
  }

  ul > li::marker {
    color: theme('colors.teal.400');
  }

  /* Center embedded Tweets */
  .twitter-tweet.twitter-tweet-rendered {
    @apply mx-auto;
  }

  /* Center embedded Youtubes */
  iframe[src*="youtube.com"] {
    @apply mx-auto;
  }
}

/* =================== Highlight =================== */
.highlight {
  background-image: var(--highlight-yellow);
  -webkit-border-radius: 1em 0;
  -moz-border-radius: 1em 0;
  border-radius: 1em 0;
  padding: 0 .35em;
  margin: 0 -.35em;
}
