 /*Your custom blog styles here*/
.site-logo {
  @apply font-serif;
  @apply font-bold;
}

.hero {
  span {
    /*@apply font-serif;*/
    /*@apply leading-loose;*/
    /*letter-spacing: 0.08em;*/
  }

  &.hero-gradient {
    /*background-image: var(--gradient-2);*/
  }
}

.post {
  @apply overflow-auto;

  p {
    font-size: theme('fontSize.base');
    line-height: theme('lineHeight.6');
    font-weight: theme('fontWeight.light');

     strong {
      font-weight: theme('fontWeight.semibold');
    }

    img {
        @apply mx-auto;
        border-radius: theme('borderRadius.DEFAULT');
    }
  }

  figure {
    margin: theme('spacing.6') 0 theme('spacing.6') 0;

    figcaption {
      text-align: center;
      font-size: theme('fontSize.sm');
    }
  }

  blockquote {
    @apply text-xl;
  }

  ol, ul {
    @apply text-base;
    @apply ml-4;

    strong {
      font-weight: theme('fontWeight.semibold');
    }

    @media (min-width: 40rem) {
      @apply ml-8;
    }
  }

  ul {
    @apply list-disc;
  }

  ul > li::marker {
    color: theme('colors.teal.400');
  }

  /* Center embedded Tweets */
  .twitter-tweet.twitter-tweet-rendered {
    @apply mx-auto;
  }

  /* Center embedded Youtubes */
  iframe[src*="youtube.com"] {
    @apply mx-auto;
  }
}

input[name='search'] {
    background-image: url('/source/assets/images/magnifying-glass.svg');
    background-position: 0.8em;
    background-repeat: no-repeat;
    border-radius: 4px;
    text-indent: 1.2em;
}

input[name='search'].transition-border {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.fade-enter-active {
    transition: opacity .5s;
}

.fade-leave-active {
    transition: opacity 0s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* =================== Highlight =================== */
/* where is this used? nowhere it seems */
/*.highlight {
  background-image: var(--highlight-yellow);
  -webkit-border-radius: 1em 0;
  -moz-border-radius: 1em 0;
  border-radius: 1em 0;
  padding: 0 .35em;
  margin: 0 -.35em;
}*/
