// Your custom blog styles here
.site-logo {
  font-family: 'Bitter', serif;
  @apply font-bold;
}

.hero {
  span {
    font-family: 'Bitter', serif;
    letter-spacing: 0.08em;
  }

  &.hero-red {
    background-image: $gradient-linear-red-dark;
  }
}

form {
  @apply mx-auto;
  @apply max-w-md;
  @apply bg-grey-light;
  @apply p-4;
  @apply rounded;
  @apply shadow-md;

  input,
  textarea {
    @apply w-full;
    @apply shadow-inner;
    @apply rounded;
    @apply p-2;
  }

  button[type='submit'] {
    @apply p-2;
    @apply bg-grey-dark;
    @apply text-white;
    @apply rounded;
  }
}
